:root {
    --dark-blue: #06283D
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #F9F9F9;
}

:is(header, main) :is(h1, h2, h3, h4, h5) {
    color: var(--dark-blue);
}


/* ==================================== Secction header ==================================== */


header {
    width: 100%;
    height: auto;
    padding: 20px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D3EBCD;
}

header .header--container-me {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header--container-me h3 {
    font-size: 1.6rem;
    margin-left: 10px;
    letter-spacing: 1.2px;
    word-spacing: 3px;
}

header .header--container-me img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: var(--dark-blue);
    font-size: 1.4rem;
    letter-spacing: .5px;
    text-decoration: none;
}


/* ==================================== Secction main ==================================== */


main {
    width: 100%;
    height: auto;
    margin: 30px 0;
    padding: 20px 30px;
    text-align: center;
}

main .main--title {
    font-size: 1.8rem;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 10px;
    background-color: #AEDBCE;
}

main .main--date-update {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: underline;
}

main .main--date-update span {
    margin-top: 10px;
    font-size: 1.2rem;
}

main .main--global-data {
    margin-top: 40px;
}

:is(main .main--global-data) :is(h1, h2) {
    font-size: 2.2rem;
}

main .main--global-data h2 {
    margin-top: 20px;
}

:is(main .main--global-data) :is(span) {
    font-size: 3rem;
    font-weight: 900;
}

main #global_cases {
    color: #EFD345;
}

main #global_deaths {
    color: #F05454;
}

main #global_recovered {
    color: #9EB23B;
}